<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FamilyFinance.Properties.Settings.Family_DataConnectionString"
            connectionString="Data Source=TIAN-VAIO\SQLEXPRESS;Initial Catalog=Family_Data;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>